<h1 align=center><font size=5>Life Expectancy in</font></h1>

Mengimport Library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

<h3>Import data</h3>
<p>
Anda dapat mengunduh dataset yang diperlukan melalai tautan berikut : <a href="https://www.kaggle.com/kumarajarshi/life-expectancy-who">https://www.kaggle.com/kumarajarshi/life-expectancy-who</a>. Kita akan menggunakan dataset ini sampai akhir.
</p>

In [2]:
df = pd.read_csv('Life Expectancy Data.csv')
df.shape

(2938, 22)

### Mengecek apakah ada missing value pada setiap kolom

In [4]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

### Karena terdapat missing value, kita membagi dataset antara satu DataFrame untuk null data dan lainnya DataFrama non null data

In [5]:
null_data = df[df.isnull().any(axis=1)]
null_data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
44,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
45,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
46,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7

#### DataFrame untuk non-null data

In [6]:
non_null_data = df[~df.isnull().any(axis=1)]
non_null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

### Mengolah null data

In [7]:
null_data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [8]:
# Mengecek apakah ada non float data pada dataset null_data ini

def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

null_data.apply(is_float)

Country                            False
Year                               False
Status                             False
Life expectancy                    False
Adult Mortality                    False
infant deaths                      False
Alcohol                            False
percentage expenditure             False
Hepatitis B                        False
Measles                            False
 BMI                               False
under-five deaths                  False
Polio                              False
Total expenditure                  False
Diphtheria                         False
 HIV/AIDS                          False
GDP                                False
Population                         False
 thinness  1-19 years              False
 thinness 5-9 years                False
Income composition of resources    False
Schooling                          False
dtype: bool

In [9]:
null_data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

## Handling missing value per columns

### Life Expectancy

In [10]:
avg_life_expectancy = df['Life expectancy '].mean()
null_data['Life expectancy '].replace(np.nan, avg_life_expectancy, inplace = True)

C:\Users\LENOVO\.conda\envs\tensorflow\lib\site-packages\pandas\core\series.py:4506: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

### Adult Mortality

In [11]:
avg_adult_mortality = df['Adult Mortality'].mean()
null_data['Adult Mortality'].replace(np.nan, avg_adult_mortality, inplace = True)

### Alcohol

In [12]:
# Menampilan data yang memiliki NaN pada kolom Alcohol
alcohol = null_data[null_data['Alcohol'].isnull()]
alcohol

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.0,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.0,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.0,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9
80,Argentina,2015,Developing,76.3,116.0,8,NaN,0.0,94.0,0,...,93.0,NaN,94.0,0.1,13467.123600,43417765.0,1.0,0.9,0.826,17.3
96,Armenia,2015,Developing,74.8,118.0,1,NaN,0.0,94.0,33,...,96.0,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,9,NaN,0.0,87.0,0,...,87.0,NaN,87.0,0.1,NaN,NaN,1.6,1.5,0.769,14.3
2874,Viet Nam,2015,Developing,76.0,127.0,28,NaN,0.0,97.0,256,...,97.0,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.0,69.0,468,...,63.0,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.0,9.0,9,...,9.0,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.0,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

In [13]:
# Mencari nilai rata rata pemakaian alkohol berdasarkan Country/Negara
alcohol_state_name = alcohol['Country'].unique().tolist()
avg1 = []

for k in alcohol_state_name:
    avg_alcohol = df[(df['Country'] == k)]['Alcohol'].mean()
    avg1.append(avg_alcohol)

avg_alcohol_result = pd.DataFrame(list(zip(alcohol_state_name, avg1)), columns =['Country', 'AvgAlcohol']) 
avg_alcohol_result

                                Country  AvgAlcohol
0                               Algeria    0.406667
1                                Angola    5.740667
2                   Antigua and Barbuda    7.949333
3                             Argentina    7.966667
4                               Armenia    3.702667
..                                  ...         ...
173  Venezuela (Bolivarian Republic of)    7.420000
174                            Viet Nam    3.087333
175                               Yemen    0.047333
176                              Zambia    2.239333
177                            Zimbabwe    4.482000

[178 rows x 2 columns]

In [14]:
# Mengganti NaN di kolom Alcohol berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_alcohol_result, on= 'Country', how='left')
null_data['Alcohol'].fillna(null_data['AvgAlcohol'], inplace = True)
null_data = null_data.drop('AvgAlcohol', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,NaN,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,NaN,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,NaN,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Hepatitis B

In [15]:
# Menampilan data yang memiliki NaN pada kolom Alcohol
hepatitis_b = null_data[null_data['Hepatitis B'].isnull()]
hepatitis_b

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
6,Angola,2006,Developing,47.7,381.0,90,5.84,25.086888,NaN,765,...,36.0,4.54,34.0,2.5,262.415149,2262399.0,9.8,9.7,0.439,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,Zambia,2004,Developing,47.9,578.0,36,2.46,8.369852,NaN,35,...,84.0,7.33,83.0,17.6,53.277222,11731746.0,7.2,7.1,0.456,10.5
1284,Zambia,2003,Developing,46.4,64.0,39,2.33,65.789974,NaN,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.44,54.043480,NaN,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.61,46.830275,NaN,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6

In [16]:
# Mencari nilai rata rata kasus Hepatitis B berdasarkan Country/Negara
hepatitisb_state_name = hepatitis_b['Country'].unique().tolist()
avg2 = []

for l in hepatitisb_state_name:
    avg_hepatitisb = df[(df['Country'] == l)]['Hepatitis B'].mean()
    avg2.append(avg_hepatitisb)

avg_hepatitisb_result = pd.DataFrame(list(zip(hepatitisb_state_name, avg2)), columns =['Country', 'AvgHepatitisB']) 
avg_hepatitisb_result

                                              Country  AvgHepatitisB
0                                             Algeria      78.000000
1                                              Angola      70.222222
2                                 Antigua and Barbuda      98.266667
3                                           Argentina      81.285714
4                                           Australia      93.400000
..                                                ...            ...
93  United Kingdom of Great Britain and Northern I...            NaN
94                        United Republic of Tanzania      73.500000
95                                         Uzbekistan      95.642857
96                                           Viet Nam      87.538462
97                                             Zambia      69.818182

[98 rows x 2 columns]

In [17]:
# Mengganti NaN di kolom Hepatitis B berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_hepatitisb_result, on= 'Country', how='left')
null_data['Hepatitis B'].fillna(null_data['AvgHepatitisB'], inplace = True)
null_data = null_data.drop('AvgHepatitisB', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### BMI

In [18]:
BMI = null_data[null_data[' BMI '].isnull()]
BMI.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
710,Monaco,2013,Developing,69.224932,164.796448,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
927,San Marino,2013,Developing,69.224932,164.796448,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
1033,South Sudan,2015,Developing,57.300000,332.000000,26,NaN,0.000000,31.0,878,...,41.0,NaN,31.0,3.4,758.725782,11882136.0,NaN,NaN,0.421,4.9
1034,South Sudan,2014,Developing,56.600000,343.000000,26,NaN,46.074469,31.0,441,...,44.0,2.74,39.0,3.5,1151.861715,1153971.0,NaN,NaN,0.421,4.9
1035,South Sudan,2013,Developing,56.400000,345.000000,26,NaN,47.444530,31.0,525,...,5.0,2.62,45.0,3.6,1186.113250,1117749.0,NaN,NaN,0.417,4.9

In [19]:
# Mencari nilai rata rata BMI berdasarkan Country/Negara
bmi_state_name = BMI['Country'].unique().tolist()
avg3 = []

for m in bmi_state_name:
    avg_bmi = df[(df['Country'] == m)][' BMI '].mean()
    avg3.append(avg_bmi)

avg_bmi_result = pd.DataFrame(list(zip(bmi_state_name, avg3)), columns =['Country', 'AvgBMI']) 
avg_bmi_result

       Country  AvgBMI
0       Monaco     NaN
1   San Marino     NaN
2  South Sudan     NaN
3        Sudan     NaN

In [20]:
# Mengganti NaN di kolom BMI berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_bmi_result, on= 'Country', how='left')
null_data[' BMI '].fillna(null_data['AvgBMI'], inplace = True)
null_data = null_data.drop('AvgBMI', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Total Expenditure

In [21]:
total_expenditure = null_data[null_data['Total expenditure'].isnull()]
total_expenditure.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.0,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
5,Angola,2015,Developing,52.4,335.0,66,5.740667,0.0,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
13,Antigua and Barbuda,2015,Developing,76.4,13.0,0,7.949333,0.0,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9
29,Argentina,2015,Developing,76.3,116.0,8,7.966667,0.0,94.0,0,...,93.0,NaN,94.0,0.1,13467.123600,43417765.0,1.0,0.9,0.826,17.3
32,Armenia,2015,Developing,74.8,118.0,1,3.702667,0.0,94.0,33,...,96.0,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7

In [22]:
# Mencari nilai rata rata Total expenditure berdasarkan Country/Negara
te_state_name = total_expenditure['Country'].unique().tolist()
avg4 = []

for n in te_state_name:
    avg_te = df[(df['Country'] == n)]['Total expenditure'].mean()
    avg4.append(avg_te)

avg_te_result = pd.DataFrame(list(zip(te_state_name, avg4)), columns =['Country', 'AvgTotalExpenditure']) 
avg_te_result

                                Country  AvgTotalExpenditure
0                               Algeria             4.604000
1                                Angola             3.919333
2                   Antigua and Barbuda             4.791333
3                             Argentina             6.912667
4                               Armenia             4.861333
..                                  ...                  ...
176  Venezuela (Bolivarian Republic of)             4.998667
177                            Viet Nam             5.977333
178                               Yemen             5.005333
179                              Zambia             5.824000
180                            Zimbabwe             6.158667

[181 rows x 2 columns]

In [23]:
# Mengganti NaN di kolom Total expenditure berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_te_result, on= 'Country', how='left')
null_data['Total expenditure'].fillna(null_data['AvgTotalExpenditure'], inplace = True)
null_data = null_data.drop('AvgTotalExpenditure', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Diphtheria

In [24]:
diphtheria = null_data[null_data['Diphtheria '].isnull()]
diphtheria.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
713,Montenegro,2005,Developing,73.6,133.0,0,2.584286,527.307672,48.5,0,...,NaN,8.46,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8
714,Montenegro,2004,Developing,73.5,134.0,0,0.010000,57.121901,48.5,0,...,NaN,8.45,NaN,0.1,338.199535,613353.0,2.3,2.4,0.740,12.6
715,Montenegro,2003,Developing,73.5,134.0,0,0.010000,495.078296,48.5,0,...,NaN,8.91,NaN,0.1,2789.173500,612267.0,2.4,2.4,0.000,0.0
716,Montenegro,2002,Developing,73.4,136.0,0,0.010000,36.480240,48.5,0,...,NaN,8.33,NaN,0.1,216.243274,69828.0,2.5,2.5,0.000,0.0
717,Montenegro,2001,Developing,73.3,136.0,0,0.010000,33.669814,48.5,0,...,NaN,8.23,NaN,0.1,199.583957,67389.0,2.5,2.6,0.000,0.0

In [25]:
# Mencari nilai rata rata Total expenditure berdasarkan Country/Negara
dp_state_name = diphtheria['Country'].unique().tolist()
avg5 = []

for o in dp_state_name:
    avg_dp = df[(df['Country'] == o)]['Diphtheria '].mean()
    avg5.append(avg_dp)

avg_dp_result = pd.DataFrame(list(zip(dp_state_name, avg5)), columns =['Country', 'AvgDiphtheria']) 
avg_dp_result

       Country  AvgDiphtheria
0   Montenegro      84.500000
1  South Sudan      47.000000
2  Timor-Leste      64.214286

In [28]:
# Mengganti NaN di kolom Diphtheria berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_dp_result, on= 'Country', how='left')
null_data['Diphtheria '].fillna(null_data['AvgDiphtheria'], inplace = True)
null_data = null_data.drop('AvgDiphtheria', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

## GDP

In [29]:
gdp = null_data[null_data['GDP'].isnull()]
gdp.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
39,Bahamas,2015,Developing,76.1,147.0,0,10.271333,0.0,95.0,0,...,95.0,6.706,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
40,Bahamas,2014,Developing,75.4,16.0,0,9.450000,0.0,96.0,0,...,96.0,7.740,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6
41,Bahamas,2013,Developing,74.8,172.0,0,9.420000,0.0,97.0,0,...,97.0,7.500,97.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
42,Bahamas,2012,Developing,74.9,167.0,0,9.500000,0.0,96.0,0,...,99.0,7.430,98.0,0.2,NaN,NaN,2.5,2.5,0.789,12.6
43,Bahamas,2011,Developing,75.0,162.0,0,9.340000,0.0,95.0,0,...,97.0,7.630,98.0,0.1,NaN,NaN,2.5,2.5,0.788,12.6

In [30]:
# Mencari nilai rata rata pemakaian GDP berdasarkan Country/Negara
gdp_state_name = gdp['Country'].unique().tolist()
avg6 = []

for l in gdp_state_name:
    avg_gdp = df[(df['Country'] == l)]['GDP'].mean()
    avg6.append(avg_gdp)

avg_gdp_result = pd.DataFrame(list(zip(gdp_state_name, avg6)), columns =['Country', 'AvgGDP']) 
avg_gdp_result

                                              Country       AvgGDP
0                                             Bahamas          NaN
1                    Bolivia (Plurinational State of)          NaN
2                                       CÃ´te d'Ivoire          NaN
3                                               Congo          NaN
4                                        Cook Islands          NaN
5                                             Czechia          NaN
6               Democratic People's Republic of Korea          NaN
7                    Democratic Republic of the Congo          NaN
8                                               Egypt          NaN
9                                             Eritrea   259.395356
10                                             Gambia          NaN
11                         Iran (Islamic Republic of)          NaN
12                                               Iraq  3542.557537
13                                         Kyrgyzstan          NaN
14                   Lao People's Democratic Republic          NaN
15                                              Libya  4598.161975
16                   Micronesia (Federated States of)          NaN
17                                             Monaco          NaN
18                                               Niue          NaN
19                                   Papua New Guinea   758.097616
20                                  Republic of Korea          NaN
21                                Republic of Moldova          NaN
22                              Saint Kitts and Nevis          NaN
23                                        Saint Lucia          NaN
24                   Saint Vincent and the Grenadines          NaN
25                                         San Marino          NaN
26                              Sao Tome and Principe   771.034834
27                                           Slovakia          NaN
28                                            Somalia   297.473345
29                                        South Sudan  1092.233631
30                               Syrian Arab Republic  1087.435774
31          The former Yugoslav republic of Macedonia          NaN
32  United Kingdom of Great Britain and Northern I...          NaN
33                        United Republic of Tanzania          NaN
34                           United States of America          NaN
35                 Venezuela (Bolivarian Republic of)          NaN
36                                           Viet Nam          NaN
37                                              Yemen          NaN

In [31]:
# Mengganti NaN di kolom GDP berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_gdp_result, on= 'Country', how='left')
null_data['GDP'].fillna(null_data['AvgGDP'], inplace = True)
null_data = null_data.drop('AvgGDP', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Population

In [32]:
population = null_data[null_data['Population'].isnull()]
population.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
13,Antigua and Barbuda,2015,Developing,76.4,13.0,0,7.949333,0.000000,99.0,0,...,86.0,4.791333,99.0,0.2,13566.95410,NaN,3.3,3.3,0.784,13.9
14,Antigua and Barbuda,2014,Developing,76.2,131.0,0,8.560000,2422.999774,99.0,0,...,96.0,5.540000,99.0,0.2,12888.29667,NaN,3.3,3.3,0.782,13.9
15,Antigua and Barbuda,2013,Developing,76.1,133.0,0,8.580000,1991.430372,99.0,0,...,98.0,5.330000,99.0,0.2,12224.86416,NaN,3.3,3.3,0.781,13.9
16,Antigua and Barbuda,2012,Developing,75.9,134.0,0,8.180000,2156.229842,98.0,0,...,97.0,5.390000,98.0,0.2,12565.44197,NaN,3.3,3.3,0.778,13.8
17,Antigua and Barbuda,2011,Developing,75.7,136.0,0,7.840000,1810.875316,99.0,0,...,99.0,5.650000,99.0,0.1,11929.34991,NaN,3.3,3.3,0.782,14.1

In [33]:
# Mencari nilai rata rata Population berdasarkan Country/Negara
pop_state_name = population['Country'].unique().tolist()
avg7 = []

for m in pop_state_name:
    avg_pop = df[(df['Country'] == m)]['Population'].mean()
    avg7.append(avg_pop)

avg_pop_result = pd.DataFrame(list(zip(pop_state_name, avg7)), columns =['Country', 'AvgPopulation']) 
avg_pop_result

                                              Country  AvgPopulation
0                                 Antigua and Barbuda            NaN
1                                             Bahamas            NaN
2                                             Bahrain            NaN
3                                            Barbados            NaN
4                    Bolivia (Plurinational State of)            NaN
5                                   Brunei Darussalam            NaN
6                                       CÃ´te d'Ivoire            NaN
7                                               Congo            NaN
8                                        Cook Islands            NaN
9                                                Cuba            NaN
10                                            Czechia            NaN
11              Democratic People's Republic of Korea            NaN
12                   Democratic Republic of the Congo            NaN
13                                           Dominica            NaN
14                                              Egypt            NaN
15                                            Eritrea   2.071919e+06
16                                             Gambia            NaN
17                                            Grenada            NaN
18                         Iran (Islamic Republic of)            NaN
19                                             Kuwait            NaN
20                                         Kyrgyzstan            NaN
21                   Lao People's Democratic Republic            NaN
22                                              Libya            NaN
23                                   Marshall Islands            NaN
24                   Micronesia (Federated States of)            NaN
25                                             Monaco            NaN
26                                              Nauru            NaN
27                                        New Zealand            NaN
28                                               Niue            NaN
29                                               Oman            NaN
30                                              Qatar            NaN
31                                  Republic of Korea            NaN
32                                Republic of Moldova            NaN
33                              Saint Kitts and Nevis            NaN
34                                        Saint Lucia            NaN
35                   Saint Vincent and the Grenadines            NaN
36                                         San Marino            NaN
37                                       Saudi Arabia            NaN
38                                          Singapore            NaN
39                                           Slovakia            NaN
40                                            Somalia            NaN
41          The former Yugoslav republic of Macedonia            NaN
42                               United Arab Emirates            NaN
43  United Kingdom of Great Britain and Northern I...            NaN
44                        United Republic of Tanzania            NaN
45                           United States of America            NaN
46                 Venezuela (Bolivarian Republic of)            NaN
47                                           Viet Nam            NaN
48                                              Yemen            NaN

In [34]:
# Mengganti NaN di kolom Population berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_pop_result, on= 'Country', how='left')
null_data['Population'].fillna(null_data['AvgPopulation'], inplace = True)
null_data = null_data.drop('AvgPopulation', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Income composition of resources

In [35]:
income_cr = null_data[null_data['Income composition of resources'].isnull()]
income_cr.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
150,CÃ´te d'Ivoire,2015,Developing,53.3,397.0,57,2.837333,0.0,83.0,65,...,81.0,5.723333,83.0,1.9,NaN,NaN,5.5,5.5,NaN,NaN
151,CÃ´te d'Ivoire,2014,Developing,52.8,47.0,58,0.010000,0.0,76.0,50,...,76.0,5.720000,76.0,2.0,NaN,NaN,5.6,5.6,NaN,NaN
152,CÃ´te d'Ivoire,2013,Developing,52.3,412.0,59,3.150000,0.0,8.0,48,...,79.0,5.810000,8.0,2.4,NaN,NaN,5.8,5.7,NaN,NaN
153,CÃ´te d'Ivoire,2012,Developing,52.0,415.0,59,3.240000,0.0,82.0,137,...,83.0,6.140000,82.0,2.9,NaN,NaN,5.9,5.9,NaN,NaN
154,CÃ´te d'Ivoire,2011,Developing,51.7,419.0,60,3.130000,0.0,62.0,628,...,58.0,6.420000,62.0,3.3,NaN,NaN,6.1,6.0,NaN,NaN

In [36]:
# Mencari nilai rata rata Income composition of resources berdasarkan Country/Negara
icr_state_name = income_cr['Country'].unique().tolist()
avg8 = []

for n in icr_state_name:
    avg_icr = df[(df['Country'] == n)]['Income composition of resources'].mean()
    avg8.append(avg_icr)

avg_icr_result = pd.DataFrame(list(zip(icr_state_name, avg8)), columns =['Country', 'AvgICR']) 
avg_icr_result

                                              Country  AvgICR
0                                       CÃ´te d'Ivoire     NaN
1                                        Cook Islands     NaN
2                                             Czechia     NaN
3               Democratic People's Republic of Korea     NaN
4                    Democratic Republic of the Congo     NaN
5                                    Marshall Islands     NaN
6                                              Monaco     NaN
7                                               Nauru     NaN
8                                                Niue     NaN
9                                   Republic of Korea     NaN
10                                Republic of Moldova     NaN
11                                         San Marino     NaN
12                                            Somalia     NaN
13                                             Tuvalu     NaN
14  United Kingdom of Great Britain and Northern I...     NaN
15                        United Republic of Tanzania     NaN
16                           United States of America     NaN

In [37]:
# Mengganti NaN di kolom Income Composition of Resources berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_icr_result, on= 'Country', how='left')
null_data['Income composition of resources'].fillna(null_data['AvgICR'], inplace = True)
null_data = null_data.drop('AvgICR', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Schooling

In [38]:
schooling = null_data[null_data['Schooling'].isnull()]
schooling.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
150,CÃ´te d'Ivoire,2015,Developing,53.3,397.0,57,2.837333,0.0,83.0,65,...,81.0,5.723333,83.0,1.9,NaN,NaN,5.5,5.5,NaN,NaN
151,CÃ´te d'Ivoire,2014,Developing,52.8,47.0,58,0.010000,0.0,76.0,50,...,76.0,5.720000,76.0,2.0,NaN,NaN,5.6,5.6,NaN,NaN
152,CÃ´te d'Ivoire,2013,Developing,52.3,412.0,59,3.150000,0.0,8.0,48,...,79.0,5.810000,8.0,2.4,NaN,NaN,5.8,5.7,NaN,NaN
153,CÃ´te d'Ivoire,2012,Developing,52.0,415.0,59,3.240000,0.0,82.0,137,...,83.0,6.140000,82.0,2.9,NaN,NaN,5.9,5.9,NaN,NaN
154,CÃ´te d'Ivoire,2011,Developing,51.7,419.0,60,3.130000,0.0,62.0,628,...,58.0,6.420000,62.0,3.3,NaN,NaN,6.1,6.0,NaN,NaN

In [39]:
# Mencari nilai rata rata Schooling berdasarkan Country/Negara
sch_state_name = schooling['Country'].unique().tolist()
avg9 = []

for o in sch_state_name:
    avg_sch = df[(df['Country'] == o)]['Schooling'].mean()
    avg9.append(avg_sch)

avg_sch_result = pd.DataFrame(list(zip(sch_state_name, avg9)), columns =['Country', 'AvgSCH']) 
avg_sch_result

                                              Country  AvgSCH
0                                       CÃ´te d'Ivoire     NaN
1                                        Cook Islands     NaN
2                                             Czechia     NaN
3               Democratic People's Republic of Korea     NaN
4                    Democratic Republic of the Congo     NaN
5                                              Monaco     NaN
6                                                Niue     NaN
7                                   Republic of Korea     NaN
8                                 Republic of Moldova     NaN
9                                             Somalia     NaN
10  United Kingdom of Great Britain and Northern I...     NaN
11                        United Republic of Tanzania     NaN
12                           United States of America     NaN

In [40]:
# Mengganti NaN di kolom Schooling berdasarkan nilai rata -rata menurut negara masing - masing
null_data = null_data.merge(avg_sch_result, on= 'Country', how='left')
null_data['Schooling'].fillna(null_data['AvgSCH'], inplace = True)
null_data = null_data.drop('AvgSCH', axis = 1)
null_data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Algeria,2015,Developing,75.6,19.0,21,0.406667,0.000000,95.000000,63,...,95.0,4.604000,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
1,Algeria,2003,Developing,71.7,146.0,20,0.340000,25.018523,78.000000,15374,...,87.0,3.600000,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
2,Algeria,2002,Developing,71.6,145.0,20,0.360000,148.511984,78.000000,5862,...,86.0,3.730000,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
3,Algeria,2001,Developing,71.4,145.0,20,0.230000,147.986071,78.000000,2686,...,89.0,3.840000,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
4,Algeria,2000,Developing,71.3,145.0,21,0.250000,154.455944,78.000000,0,...,86.0,3.490000,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,Zambia,2003,Developing,46.4,64.0,39,2.330000,65.789974,69.818182,881,...,85.0,8.180000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
1285,Zambia,2002,Developing,45.5,69.0,41,2.440000,54.043480,69.818182,25036,...,85.0,6.930000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
1286,Zambia,2001,Developing,44.6,611.0,43,2.610000,46.830275,69.818182,16997,...,86.0,6.560000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
1287,Zambia,2000,Developing,43.8,614.0,44,2.620000,45.616880,69.818182,30930,...,85.0,7.160000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6
1288,Zimbabwe,2015,Developing,67.0,336.0,22,4.482000,0.000000,87.000000,0,...,88.0,6.158667,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

### Melihat apakah masih ada NaN pada dataframe null_data

In [41]:
null_data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                             17
percentage expenditure               0
Hepatitis B                        144
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                   32
Diphtheria                           0
 HIV/AIDS                            0
GDP                                405
Population                         648
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

### Terdapat beberapa kolom yang masih memiliki missing value, kita perlu mengisi missing value pada setiap kolom tersebut dengan mempertimbangkan Status tiap negara (misal Developing atau Developed)

In [42]:
kolom = ['Alcohol','Hepatitis B',' BMI ','Polio','Total expenditure','GDP',
         'Population',' thinness  1-19 years',' thinness 5-9 years',
         'Income composition of resources','Schooling']
avg1 = [] #untuk developing country
avg2 = [] #untuk developed country

for x in kolom:
    avgx = df[(df['Status'] == 'Developing')][x].mean()
    avgy = df[(df['Status'] == 'Developed')][x].mean()
    avg1.append(avgx)
    avg2.append(avgy)
    
avgd1 = pd.DataFrame(list(zip(kolom, avg1)), columns = ['col', 'avg']) # untuk developing country
avgd2 = pd.DataFrame(list(zip(kolom, avg2)), columns = ['col', 'avg']) # untuk developed country

In [43]:
avgd1

                                col           avg
0                           Alcohol  3.484119e+00
1                       Hepatitis B  7.976393e+01
2                              BMI   3.543533e+01
3                             Polio  8.017075e+01
4                 Total expenditure  5.590694e+00
5                               GDP  4.286556e+03
6                        Population  1.407108e+07
7              thinness  1-19 years  5.592935e+00
8                thinness 5-9 years  5.635242e+00
9   Income composition of resources  5.823099e-01
10                        Schooling  1.121926e+01

In [44]:
avgd2

                                col           avg
0                           Alcohol  9.826736e+00
1                       Hepatitis B  8.804130e+01
2                              BMI   5.180391e+01
3                             Polio  9.373633e+01
4                 Total expenditure  7.554042e+00
5                               GDP  2.205339e+04
6                        Population  6.830053e+06
7              thinness  1-19 years  1.320703e+00
8                thinness 5-9 years  1.296680e+00
9   Income composition of resources  8.524892e-01
10                        Schooling  1.584547e+01

In [45]:
a = null_data[(null_data['Status'] == 'Developing')] # untuk developing country
b = null_data[(null_data['Status'] == 'Developed')] # untuk developed country

for wkwk in kolom:
    a[wkwk].fillna(avgd1[avgd1['col'] == wkwk]['avg'].item(), inplace = True)
    b[wkwk].fillna(avgd2[avgd1['col'] == wkwk]['avg'].item(), inplace = True)

C:\Users\LENOVO\.conda\envs\tensorflow\lib\site-packages\pandas\core\series.py:4460: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

#### Membentuk dataframe cleansed_data hasil dari penggabungan dataframe 'a' dan 'b'. Dimensi dataframe ini sama seperti datafame null_data

In [46]:
cleansed_data = a.append(b)
cleansed_data.shape

(1289, 22)

In [47]:
newdf = non_null_data.append(cleansed_data)
newdf.shape

(2938, 22)

In [48]:
newdf.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [49]:
newdf.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [50]:
newdf['Country'].nunique()

193

In [51]:
newdf['Country'].value_counts()

Ireland                     16
Trinidad and Tobago         16
United States of America    16
Turkmenistan                16
Finland                     16
                            ..
Tuvalu                       1
Dominica                     1
Marshall Islands             1
Saint Kitts and Nevis        1
Palau                        1
Name: Country, Length: 193, dtype: int64

<h4>Feature Engineering</h4>

Terdapat 22 kolom pada dataset ini namun pada pemodelan ini saya hanya menggunakan beberapa kolom/feature saja. Berikut ini adalah features tersbeut beserta penjelasannya:
<ol>
    <li><b>Country</b> : Negara </li>
    <li><b>Adult Mortality</b> : Tingkat kematian umur 16-60 Tahun per 1000 populasi (baik Pria dan Wanita)</li>
    <li><b>Percentage Expenditure</b> : Pengeluaran untuk biaya kesehatan sebagai persentase dari PDB per kapita (%)</li>
    <li><b>Alcohol</b> : Konsumsi Alkohol murni per Kapita (Untuk umur > 15 Tahun)</li>
    <li><b>BMI</b> : Nilai rata rata Body Mass Index seluruh penduduk suatu negara</li>
    <li><b>GDP</b> : Gross Domestic Product per kapita (in USD)</li>
    <li><b>Population</b> : Total penduduk suatu negara</li>
    <li><b>Schooling</b> : Rata rata tahun bersekolah</li>
    <li><b>Life Expectancy</b> : Rata rata tahun bersekolah</li>
</ol>
Feature engineering tersebut dapat dilihat sebagai berikut :

In [52]:
newdf1 = newdf[['Country','Adult Mortality','percentage expenditure','Alcohol',' BMI ','GDP','Population','Schooling','Life expectancy ']]
newdf1.head(3)

,Country,Adult Mortality,percentage expenditure,Alcohol,BMI,GDP,Population,Schooling,Life expectancy
0,Afghanistan,263.0,71.279624,0.01,19.1,584.259210,33736494.0,10.1,65.0
1,Afghanistan,271.0,73.523582,0.01,18.6,612.696514,327582.0,10.0,59.9
2,Afghanistan,268.0,73.219243,0.01,18.1,631.744976,31731688.0,9.9,59.9

Here in this dataframe we have a Country name and as you all know that machine learning model cant interpret text data.. So we have to convert the Country column into numeric and one of the ways of converting text column which is a categorical information into numerical is to use one hot encoding.

#### One hot encoding

In [53]:
dummies = pd.get_dummies(newdf1['Country'])
dummies

,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1225,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1226,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1227,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1228,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [54]:
newdf2 = pd.concat([newdf1, dummies], axis = 'columns')
newdf2.head(3)

,Country,Adult Mortality,percentage expenditure,Alcohol,BMI,GDP,Population,Schooling,Life expectancy,Afghanistan,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,Afghanistan,263.0,71.279624,0.01,19.1,584.259210,33736494.0,10.1,65.0,1,...,0,0,0,0,0,0,0,0,0,0
1,Afghanistan,271.0,73.523582,0.01,18.6,612.696514,327582.0,10.0,59.9,1,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,268.0,73.219243,0.01,18.1,631.744976,31731688.0,9.9,59.9,1,...,0,0,0,0,0,0,0,0,0,0

In [55]:
newdf2.shape

(2938, 202)

In [56]:
newdf3 = newdf2.drop('Country',axis='columns')
newdf3.head()

,Adult Mortality,percentage expenditure,Alcohol,BMI,GDP,Population,Schooling,Life expectancy,Afghanistan,Albania,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,263.0,71.279624,0.01,19.1,584.259210,33736494.0,10.1,65.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,271.0,73.523582,0.01,18.6,612.696514,327582.0,10.0,59.9,1,0,...,0,0,0,0,0,0,0,0,0,0
2,268.0,73.219243,0.01,18.1,631.744976,31731688.0,9.9,59.9,1,0,...,0,0,0,0,0,0,0,0,0,0
3,272.0,78.184215,0.01,17.6,669.959000,3696958.0,9.8,59.5,1,0,...,0,0,0,0,0,0,0,0,0,0
4,275.0,7.097109,0.01,17.2,63.537231,2978599.0,9.5,59.2,1,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
newdf3.shape

(2938, 201)

### Model Building

In [58]:
X = newdf3.drop('Life expectancy ',axis='columns')
X.head(3)

,Adult Mortality,percentage expenditure,Alcohol,BMI,GDP,Population,Schooling,Afghanistan,Albania,Algeria,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
0,263.0,71.279624,0.01,19.1,584.259210,33736494.0,10.1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,271.0,73.523582,0.01,18.6,612.696514,327582.0,10.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,268.0,73.219243,0.01,18.1,631.744976,31731688.0,9.9,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
y = newdf3['Life expectancy ']
y.head()

0    65.0
1    59.9
2    59.9
3    59.5
4    59.2
Name: Life expectancy , dtype: float64

In [60]:
# Train test split method from sklearn model selection

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [61]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)
lr_clf.score(X_test, y_test)

0.9353440167892948

#### K-Fold Cross Validation

In [62]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.910962  , 0.93664517, 0.92661458, 0.92845857, 0.93936566])

In [63]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model' : LinearRegression(),
            'params' : {
                'normalize' : [True, False]
            }
        },
        'lasso' : {
            'model' : Lasso(),
            'params' : {
                'alpha' : [1,2],
                'selection' : ['random','cyclic']
            }
        },
        'decision_tree' : {
            'model' : DecisionTreeRegressor(),
            'params' : {
                'criterion' : ['mse', 'friedman_mse'],
                'splitter' : ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model' : algo_name,
            'best_score' : gs.best_score_,
            'best_params' : gs.best_params_
        })
        
    return pd.DataFrame(scores, columns = ['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.928409,{'normalize': False}
1,lasso,0.740375,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision_tree,0.925191,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [65]:
X.columns.value_counts()

Ireland                               1
Venezuela (Bolivarian Republic of)    1
United States of America              1
Finland                               1
Belarus                               1
                                     ..
Libya                                 1
Kyrgyzstan                            1
Croatia                               1
Nicaragua                             1
Peru                                  1
Length: 200, dtype: int64

In [66]:
np.where(X.columns=='Japan')[0][0]

91

In [67]:
def predict_life_expectancy(Country,Adult_mortality,percentage_expenditure,alcohol,bmi,gdp,pop,school):
    country_index = np.where(X.columns == Country)[0][0]
    
    x = np.zeros(len(X.columns))
    x[0] = Adult_mortality
    x[1] = percentage_expenditure
    x[2] = alcohol
    x[3] = bmi
    x[4] = gdp
    x[5] = pop
    x[6] = school
    
    if country_index >= 0:
        x[country_index] = 1
        
    return lr_clf.predict([x])[0]

Mari mencoba model yang sudah dibentuk dengan memprediksi suatu nilai yang parameter nya sebagai berikut : 
<ol>
    <li><b>Country</b> : Indonesia </li>
    <li><b>Adult Mortality</b> : 166.56 </li>
    <li><b>Percentage Expenditure</b> : 83.78 </li>
    <li><b>Alcohol</b> : 0.068 </li>
    <li><b>BMI</b> : 19.95 </li>
    <li><b>GDP</b> : 1670.1234 </li>
    <li><b>Population</b> : 270000000 </li>
    <li><b>Schooling</b> : 11.61 </li>
</ol>
Hasilnya dapat dilihat sebagai berikut :

In [72]:
predict_life_expectancy('Japan', 166.56, 83.78, 0.068, 19.95, 1670.1234, 80000000, 20.61)

88.48833109686161